@use "../core" as core;

@font-face {
  font-family: "assistant";
  src: local("assistant"), url("/fonts/assistantLight.woff") format("woff");
  font-display: swap;
}

body {
  display: grid;
  row-gap: 16px;
  background: core.mycolorfunction(white, light55);
  font-family: "assistant", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: core.mycolorfunction(black, dark25);
  min-height: 105vh;
  --pseudo-color: rgba(0,0,250,0.5);
}

a {
  color: core.mycolorfunction(green, dark15);
  font-weight: 700;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1.75s;
}

// https://webkit.org/blog/17101/a-guide-to-scroll-driven-animations-with-just-css/
body::after {
  content: "";
  height: 10px;
  width: 100%;
  background: var(--pseudo-color);
  inset-inline-start: 0;
  top: 0;
  position: fixed;
  transform-origin: top left;
  animation: grow-progress linear;
  animation-timeline: scroll();
}
@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

