@use "../core" as core;
@use "../helpers" as helpers;

.footer {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 1120px) minmax(16px, 1fr);
  row-gap: 24px;
  background-color: core.mycolorfunction(blue, light75);
  border-top: 1px solid core.mycolorfunction(blue, base);
  padding: 24px 0px 24px 0px;
  & > * {
    grid-column: 2 / 3;
  }
  &-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
    margin-bottom: 80px;
  }
  &-link {
    display: grid;
    height: 64px;
    border-radius: 8px;
    border: 1px solid core.mycolorfunction(blue, light45);
    background-color: core.mycolorfunction(white, light75);
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    @extend %box-shadow;
    & svg {
      justify-self: center;
      align-self: center;
    }
    & p {
      grid-column: 2/3;
      align-self: center;
    }
  }
}