@use '../../../node_modules/utopia-core-scss/src/utopia' as utopia;
  
/* @link https://utopia.fyi/type/calculator */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 320,
    "maxWidth": 1500,
    "minFontSize": 16,
    "maxFontSize": 20,
    "minTypeScale": 1.2,
    "maxTypeScale": 1.2,
    "positiveSteps": 4,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
}
p, a, ul, ol, li, button {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-4);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}