<nav class="nav">
  <div class="nav-close">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 512 512"><path d="M443.6 387.1 312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z"/></svg>
    <p class="nav-close-text">Close Menu</p>
  </div>

  <div class= "nav-item">
    <svg id="i-home" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="home-icon"><path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z" /></svg>
    <a href="/" class="nav-item-link">Home</a>
  </div>

  <div class= "nav-item" data-accordian="accordian">
    <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
    <a href="#" class="nav-item-link">Lists</a>
    <span class="nav-item-icon">+</span>
  </div>
  
  <div class= "nav-item">
    <svg id="i-location" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="map icon"><circle cx="16" cy="11" r="4" /><path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" /></svg>
    <a href="/maps/vermont-artisans-map.html" class="nav-item-link">Map - All Artisans</a>
  </div>

  <div class= "nav-item personal">
    <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" width="25" height="25" fill="#5b68aa" role="img" title="trail sign icon"><path d="M132.7 6.8c-1.3 1.4-1.7 3.9-1.7 10.5V26H78.2c-50 0-53 .1-54.5 1.8S22 33.4 22 62.7c0 30.7.1 33.1 1.8 34.6S30.7 99 78.3 99H131v15H65.5l-21 16.1c-11.6 8.8-21.4 16.7-21.8 17.5-.5.8-.7 3.1-.5 5.2.3 3.6.9 4.1 21.8 18.9L65.5 187H131v51.8c0 49 .1 52 1.8 53.5 1.6 1.4 4.3 1.7 16.4 1.7 12.8 0 14.7-.2 16.1-1.8 1.5-1.7 1.7-6.9 1.7-53.5V187h53.8c50.9 0 54-.1 55.5-1.8s1.7-5.6 1.7-34.9c0-30.7-.1-33.1-1.8-34.6s-7-1.7-55.5-1.7H167V99h67.5L256 83.7c20.9-14.8 21.5-15.3 21.8-18.9.2-2.1 0-4.4-.5-5.2-.4-.8-10.2-8.7-21.8-17.5l-21-16.1H167v-8.8c0-12.3.2-12.2-18.2-12.2-12.8 0-14.7.2-16.1 1.8zM153 29.5V40h74.5l14.6 11.3c8.1 6.1 14.7 11.6 14.8 12 .1.5-6.4 5.5-14.6 11.3L227.6 85H153v43h111v45H153v107h-8V173H72.4l-14.5-10.3c-7.9-5.6-14.7-10.5-14.9-10.9-.3-.4 6.3-5.9 14.5-12.3l15-11.5H145V85H36V40h109V19h8v10.5z"/></svg>
    <a href="/vermont-artisans-trail.html" class="nav-item-link">Personal Trail</a>
  </div>

  <div class= "nav-item-content">
    <div class="nav-item-content-item">
        <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        <a href="/homes/vermont-brewers-home.html" class="nav-item-link">Brewers</a>
      </div>
      <div class="nav-item-content-item">
        <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        <a href="/homes/vermont-ciders-home.html" class="nav-item-link">Ciders</a>
    </div>
      <div class="nav-item-content-item">
        <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        <a href="/homes/vermont-distillers-home.html" class="nav-item-link">Distillers</a>
    </div>
      <div class="nav-item-content-item">
        <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        <a href="/homes/vermont-wines-home.html" class="nav-item-link">Wines</a>
    </div>
      <div class="nav-item-content-item">
        <svg id="i-menu" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="#5b68aa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" title="list icon"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        <a href="/homes/vermont-cheeses-home.html" class="nav-item-link">Cheeses</a>
    </div>
  </div>
  
</nav>