@use "../core" as core;
@use "../helpers" as helpers;

%artisans-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: min-content;
  gap: 16px;
  margin-bottom: 80px;
}

%artisans-item {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  height: 160px;
  border-radius: 13px;
  border: 1px solid core.mycolorfunction(blue, light25);
  background-color: core.mycolorfunction(white, light75);
  cursor: pointer;
  text-decoration: none;
  @extend %box-shadow;
  @extend %animate-helper;
  &:hover {
    background-color: rgba(core.mycolorfunction(blue, base), 0.15);
  }
  &-logo {
    align-self: center;
  }
  &-name {
    align-self: center;
    color: core.mycolorfunction(blue, base);
    font-size: 1.7rem;
    font-weight: 700;
  }
  &-city {
    align-self: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: core.mycolorfunction(black, light25);
  }
}