@use "../core" as core;

%choose {
  text-decoration: none;
  color: inherit;
  font-size: calc(var(--step-0) * 0.75);
  background-color: core.mycolorfunction(white, light55);
  height: 64px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid core.mycolorfunction(blue, dark25);
  box-shadow:
  0.4px 0.4px 0.6px rgba(0, 0, 0, 0.027),
  0.8px 0.8px 1.4px rgba(0, 0, 0, 0.039),
  1.4px 1.4px 2.4px rgba(0, 0, 0, 0.048),
  2.2px 2.2px 3.7px rgba(0, 0, 0, 0.056),
  3.2px 3.2px 5.5px rgba(0, 0, 0, 0.064),
  4.7px 4.7px 8px   rgba(0, 0, 0, 0.072),
  7px 7px 12.1px    rgba(0, 0, 0, 0.081);
  cursor: pointer;
}

%choose-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: min-content;
  grid-gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid core.mycolorfunction(blue, base);
}