@use "../core" as core;
@use "../helpers" as helpers;

%artisan-home {
  row-gap: 24px;
  padding-bottom: 16px;
  @include helpers.tablet-breakpoint {
    row-gap: 32px;
    padding-top: 0px;
  }
  &-intro {
    text-align: center;
    padding: 16px 0px;
    border-top: 1px solid core.mycolorfunction(blue, light45);
    border-bottom: 1px solid core.mycolorfunction(blue, light45);
    & p:first-of-type {
      font-weight: 700;
      font-size: var(--step-2);
    }
    // & p:last-of-type {
    //   font-size: var(--step-2);
    // }
    & p {
      line-height: 2rem;
    }
    @include helpers.tablet-breakpoint {
      padding: 32px 0px;
      grid-row: 1 / 2;
      text-shadow: none;
      width: 100%;
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    @include helpers.tablet-breakpoint {
      column-gap: 32px;
    }
  }
  &-item {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-radius: 7.2px;
    border: 2px solid core.mycolorfunction(blue, light15);
    color: core.mycolorfunction(black, base);
    text-decoration: none;
    cursor: pointer;
    @extend %box-shadow;
    @extend %animate-helper;
    &:hover {
        filter: brightness(0.65);
    }
    transition-property: filter;
    @include helpers.tablet-breakpoint {
      flex: 1 1 40%;
    }
    &-image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
    }
    &-text {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
      padding: 0.75rem 0px;
      align-self: center;
      text-align: center;
      background-color: rgba(core.mycolorfunction(white, base), 0.7);
      font-size: var(--step-3);
    }
  }
}