@use "../helpers" as *;
@use "../core" as core;

%side-button {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 32px;
  width: 65px;
  height: 65px;
  border-radius: 0% 30% 30% 0%;
  border-right: 1px solid core.mycolorfunction(blue, dark25);
  background-color: rgba(core.mycolorfunction(blue, base), 0.55);
  border-top: 1px solid core.mycolorfunction(blue, dark25);
  border-bottom: 1px solid core.mycolorfunction(blue, dark25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
  cursor: pointer;
  z-index: 350;
  @extend %animate-helper;
  & svg {
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    width: 65%;
    height: 65%;
    fill: core.mycolorfunction(white, light35);
  }
  &-visible {
    display: block;
  }
  & p {
    position: absolute;
    top: 40px;
    left: 7px;
    color: core.mycolorfunction(white, light35);
    font-weight: 700;
  }
}