@use "../component-helpers" as components;

.home {
  @extend %artisan-home;
  &-intro {
    @extend %artisan-home-intro;
    & p:first-of-type {
      font-weight: 700;
      font-size: var(--step-4);
      padding-bottom: 16px;
    }
    & p:nth-of-type(4) {
      font-weight: 700;
      font-size: var(--step-4);
      padding: 16px 0px 16px 0px;
    }
  }
  &-content {
    @extend %artisan-home-content;
    grid-template-rows: repeat(6, 1fr);
  }
  &-item {
    @extend %artisan-home-item;
    &-image {
      @extend %artisan-home-item-image;
    }
    &-text {
      @extend %artisan-home-item-text;
    }
  }
}