@use "../component-helpers" as components;
@use "../helpers" as helpers;
@use "../core" as core;

.artisans {
  &-list {
    row-gap: 24px;
    &-items {
      @extend %artisans-items;
      @include helpers.tablet-breakpoint {
        gap: 32px;
      }
    }
    &-search {
      @extend %search-section;
      @include helpers.tablet-breakpoint {
        align-self: center;
        padding: 0px 0px;
      }
      &-label {
        @extend %search-label;
        top: -27px;
      }
      &-input {
        @extend %inputs;
        cursor: pointer;
        &:focus {
            outline: none;
            background: transparent;
        }
        &:active {
          outline: none;
        }
      }
      & svg {
        @extend %search-svg;
      }
    }
    &-item {
      @extend %artisans-item;
      &-logo {
        @extend %artisans-item-logo;
      }
      &-name {
        @extend %artisans-item-name;
      }
      &-city {
        @extend %artisans-item-city;
      }
      &-moosedog {
        @extend %artisans-item;
        // max-height: 160px;
        border-radius: 8px;
        border: 1px solid core.mycolorfunction(blue, base);
        padding: 8px 0px;
        background-color: core.mycolorfunction(white, light75);
        &-logo {
          align-self: center;
        }
        &-promo {
          align-self: center;
          text-align: center;
        }
        &-link {
          align-self: center;
        }
      }
    }
  }
}

.selected {
  opacity: 1;
}
.is-hidden {
  display: none;
}

input[type="search" i]::-webkit-search-cancel-button {
  @extend %cancel-search;
}