@use "../component-helpers" as components;
@use "../core" as core;

.map-detail { 
  margin-top: 5rem;
  // this has to be here so google maps has a height to inherit, won't inherit min-height
  height: calc(100vh - 112px);
}

#map {
  @extend %maps;
  height: 75vh;
}

.artisan-map-infoslider {
  display: grid;
  grid-template-columns: .25fr 1fr;
  column-gap: 8px;
  justify-items: center;
  font-size: var(--step-1);
  padding: 8px 8px;
  background-image: linear-gradient(rgba(core.mycolorfunction(white, base), 1.0), rgba(core.mycolorfunction(white, light25), 1.0));
  border: 1px solid core.mycolorfunction(blue, base);
  border-radius: 8px;
  &-image {
    grid-column: 1 / 2;
    & img {
      width: 50px;
    }
  }
  &-details {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    color: core.mycolorfunction(black, base);
  }
  &-name {
    font-weight: 700;
  }
  &-address {
    font-size: calc(var(--step-1) * 0.75);
  }
  &-link {
    padding-top: 12px;
    outline: none;
    color: core.mycolorfunction(blue, base);
  }
}