---
layout: layouts/base.njk
title: Vermont Artisans Trail
---

<section class="home-intro">
  <p>It's so strange and wonderful here in Vermont:</p>
  <p>our people, our lush geography, our unique climate</p>
  <p>and the world's most passionate artisans,</p>
  <p>crafting the world's best.</p>
  <p>Take a look around to find your favorites.</p>
  <p>Or maybe you already know what you're looking for:</p>
  <label for="searchbox" class="home-search-label">
    Search By Artisan Or Town:
  </label>
  <input type="search"  id="searchbox" value=""  class="home-search-input">
  <div class="home-search-results"></div>
</section>

<section class="home-content">
  <a href="/homes/vermont-brewers-home.html" class="home-item">
    <img src="/img/home/beer/vermont-breweries.webp" class="home-item-image" width="500" height="270" decoding="async" alt="Sunny Flight of Beers">
    <p class="home-item-text">Explore Vermont's Beers</p>
  </a>
  <a href="/homes/vermont-ciders-home.html" class="home-item">
    <img src="/img/home/cider/apples.webp" class="home-item-image" width="500" height="270" decoding="async" alt="Apples In A Basket">
    <p class="home-item-text">Explore Vermont's Ciders</p>
  </a>
  <a href="/homes/vermont-wines-home.html" class="home-item">
    <img src="/img/home/wine/wineries.webp" class="home-item-image" width="500" height="270" decoding="async" alt="Grapes In A Sunny Vineyard">
    <p class="home-item-text">Explore Vermont's Wines</p>
  </a>
  <a href="/homes/vermont-distillers-home.html" class="home-item">
    <img src="/img/home/booze/distillery.webp" class="home-item-image" width="500" height="270" decoding="async" alt="A Distillery In Action">
    <p class="home-item-text">Explore Vermont's Distillations</p>
  </a>
  <a href="/homes/vermont-cheeses-home.html" class="home-item">
    <img src="/img/home/cheese/cheesemakers.webp" class="home-item-image" width="500" height="270" decoding="async" alt="Fresh Cheese Aging In a Cave">
    <p class="home-item-text">Explore Vermont's Cheeses</p>
  </a>
  <a href="/maps/vermont-artisans-map.html" class="home-item">
    <img src="/img/home/beer/vermont-map.webp" class="home-item-image" width="500" height="270" decoding="async" alt="Google Map Image">
    <p class="home-item-text">Locate All Vermont's Artisans</p>
  </a>
  <a href="/vermont-artisans-trail.html" class="home-item">
    <img src="/img/trail.webp" class="home-item-image" width="500" height="270" alt="Woods Trail Next To A creek">
    <p class="home-item-text">View Your Custom Trail</p>
  </a>
</section>
